.header {
	position: absolute;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;

	&__logo {
		display: block;
		float: left;
		left: -.8rem;
		position: relative;

		img {
			width: 160px;
			height: 141px;

			@include above (sm) {
				width: 207px;
				height: 182px;
			}
		}
	}
}