.page {

	&__row {

		@include above (sm) {
			display: flex;
			align-items: center;
		}
	}

	&__hero {
		padding-bottom: 6rem;
		padding-top: 10rem;
		background: url('../img/metz_bg.svg') no-repeat center center;
  		background-size: 100% 100%;

		@include above (sm) {
			padding-top: 15rem;
			padding-bottom: 3rem;
		}
	}

	&__title {
		margin-top: 3rem;
		line-height: 1;
		position: relative;
		z-index: 5;
		color: $cream;
		font-weight: 700;

		@include above (sm) {
			margin-top: 0;
		}
	}

	&__text {
		line-height: 1.2;

		@include above (sm) {
			font-size: 33px;
		}
	}

	&__product {
		right: -1rem;
		background: no-repeat center center;
		background-size: cover;
		min-height: 20rem;

		@include above (sm) {

		}
	}
}
