.variants {
	
	&--wrapper {
		position: relative;
	}

	&__title {
		margin-top: 0;
		color: $cream;
		margin-bottom: 2rem;
	}

	&__btn {
		margin-right: 1rem;
	}
}

.bg--red {
	position: relative;
	
	&:before {
		content: '';
		background: linear-gradient(to right, rgba($red, 1) 0%,rgba($red ,1) 0%,rgba($red ,1) 51%,rgba($red ,1) 100%,rgba($red ,1) 100%);
		position: absolute;
		bottom: 0;
		height: 100%;
		width: 100%;
		left: 0;
		filter: blur(34px);

		@include above (sm) {
			height: 90%;
		}
	}
}