.btn {
	display: inline-block;
	padding: .6rem 2.5rem;
	text-transform: uppercase;
	transition: all ease .3s;
	font-family: $custom-font-headings;
	font-weight: 700;

	&--cream {
		background: $cream;
		color: $brown;

		&:hover {
			color: $white;
		}
	}

	&--brown {
		background: $brown;
		color: $white;

		&:hover {
			color: $white;
		}
	}
}